<?xml version="1.0"?>
<launch>
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find lexx_auto_launch)/maps/room_ok/room_ok.yaml" output="screen"/>

  <node name="vector_map" pkg="vector_map" type="vector_map.py" output="screen">
    <param name="osm_file_path" value="$(find lexx_auto_launch)/maps/room_ok/room_ok.osm" />
    <param name="yaml_file_path" value="$(find lexx_auto_launch)/maps/room_ok/room_ok.yaml" />
    <param name="map_file_path" value="$(find lexx_auto_launch)/maps/room_ok/room_ok.pgm" />
  </node>

  <!-- Run lidar-->
  <include file="$(find gslambot)/launch/rplidar_ros.launch" >
  </include> 

  <node pkg="tf" type="static_transform_publisher" name="link1" args="0 0 0 0 0 0 base_link laser 100" />

  <!-- Run amcl -->
  <include file="$(find amcl)/examples/amcl_diff.launch" >
  </include>

  <node name="goal_pose_list_pub" pkg="goal_pose_list_pub" type="goal_pose_list_publisher.py" output="screen">
    <param name="osm_file_path" value="$(find lexx_auto_launch)/maps/room_ok/room_ok.osm" />
    <param name="yaml_file_path" value="$(find lexx_auto_launch)/maps/room_ok/room_ok.yaml" />
    <param name="map_file_path" value="$(find lexx_auto_launch)/maps/room_ok/room_ok.pgm" />
  </node>
    
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="10.0"/>
    <param name="controller_patiente" value="15.0"/>
    <param name="xy_goal_tolerance" value='0.50'/> 
    <param name="yaw_goal_tolerance" value='0.15'/>
    <rosparam file="$(find gslambot)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find gslambot)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find gslambot)/launch/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find gslambot)/launch/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find gslambot)/launch/base_local_planner_params.yaml" command="load" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gslambot)/launch/navigation.rviz" />
</launch>
